[submodule "specificGroupAngular"]
	path = specificGroupAngular
	url = https://github.com/pennywisexy/specificGroupAngular.git
	branch = develop
# [submodule "API-for-movies"]
# 	path = API-for-movies
# 	url = https://github.com/pennywisexy/api-for-movies.git
# 	branch = develop
